/* Háttér */
.draftPage {
  display: flex;
  height: 100vh;

  background-image: url("../../assets/stadium.jpg");
  background-repeat: no-repeat;
  background-size: 3000px 2400px;
  background-position-x: center;
  background-position-y: 80%;
}

.draftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* StatBar */
.draftContent > *:first-child {
  height: 8vh;
}

.draftBody {
  height: 92vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
