/* Háttér */
.objectivesPage {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* StatBar */
.objectivesHeader {
  height: 8vh;
}

/* Tartalom */
.objectivesBody {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------Media queries---------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .objectivesHeader {
    height: 7vh;
  }
}

@media screen and (max-width: 767px) {
  .objectivesHeader {
    height: 7vh;
  }
}
