/* Fontok */
@font-face {
  font-family: bristone;
  src: url("../../assets/Bristone.otf");
}

@font-face {
  font-family: easportsfc;
  src: url("../../assets/EaSportsFc_FontByGibsfut-Regular.ttf");
}

/*?------------------Formáció kiválasztás stílusai-------------------*/

/*------------------Alap elrendezés------------------*/
#formationSelectDiv {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

/*-----------------Baloldali formázások------------------*/

#chooseFormation {
  border-radius: 30px 0px 0px 30px;
  border-top: 2px solid rgba(0, 0, 0, 0.658);
  border-left: 2px solid rgba(0, 0, 0, 0.658);
  border-bottom: 2px solid rgba(0, 0, 0, 0.658);
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding-left: 2%;
  backdrop-filter: blur(50px);
}

.chooseFormationTitle {
  font-family: bristone;
  font-size: 100%;
}

/* Mini pálya */
.miniFormationLayout {
  position: relative;
  background-color: rgba(0, 0, 0, 0.226);
  height: 10vh;
  width: 8vw;
  border-radius: 8px;
  border: 1px solid black;
}

/*----------------Jobboldali formázások-----------------*/

#formationImage {
  color: white;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 0px 30px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  backdrop-filter: blur(100px);
}

#formationImage h2 {
  padding-left: 70px;
  padding-top: 20px;
  font-family: bristone;
  font-size: 140%;
}

/* Nagy pálya */
.formationLayout {
  position: relative;
  background: rgba(0, 0, 0, 0.541);
  height: 60vh;
  width: 45vw;
  align-self: center;
  border-radius: 20px;
}

.formationLayout .posText {
  font-size: 70%;
  z-index: 0;
}

.pos {
  position: absolute;
  width: 15%;
  height: 23%;
  background-image: url("../../assets/draftPlaceHolder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*---------------Gombok---------------*/

.formationSelectBtn {
  color: rgba(255, 255, 255, 0.575);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 10%;
  width: 95%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  height: 12vh;
  transition: all 200ms ease-in-out;
}

.formationSelectBtn:hover {
  background-color: rgba(0, 0, 0, 0.534);
  border: 1px solid #58e7e0;
  border-radius: 20px;
  color: white;
  transform: scale(1.05);
}

/*?------------------Draft játék stílusai-------------------*/

/*--------------------Draft layout---------------------*/
.gameFormationLayout {
  height: 92vh;
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameFormationLayout .pos {
  position: absolute;
  width: 7%;
  min-width: 95px;
  aspect-ratio: 3/4.2;
  background-image: url("../../assets/draftPlaceHolder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.gameFormationLayout .pos:hover {
  cursor: pointer;
}

.posText {
  position: absolute;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.781);
  width: 8%;
  max-width: 50px;
  height: 4%;
  min-height: 35px;
  border-radius: 50%;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 70%;
}

/*--------------Játékos kiválasztó modal-----------------*/

.playerSelectionModal {
  justify-self: center;
  top: 30%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 30px;
  width: 75vw;
  min-width: 900px;
  height: 40vh;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10000;
  backdrop-filter: blur(4px);
  animation: fadeIn 0.4s ease;
}

.playerSelectionModal .cardSlot {
  min-width: 160px;
  width: 13%;
  max-width: 200px;
  height: auto;
  min-height: 150px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #1111117c;
}

/* Kártya elrendezés */
.cardSlot {
  position: relative;
  width: 19%;
  max-width: 190px;
  aspect-ratio: 3/3.8;
  height: 63%;
  min-height: 235px;
  transition: all 100ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardSlot:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.playerSelectionModal .cardDesign {
  filter: drop-shadow(0 8px 15px rgba(255, 208, 0, 0.425));
}

.playerSelectionModal .icon {
  filter: drop-shadow(0 8px 15px rgba(255, 255, 255, 0.425));
}

.playerSelectionModal .hero {
  filter: drop-shadow(0 8px 15px rgba(231, 68, 68, 0.425));
}

.playerSelectionModal .toty {
  filter: drop-shadow(0 8px 15px rgba(231, 220, 68, 0.425));
}

.playerSelectionModal .flashback {
  filter: drop-shadow(0 8px 15px rgba(128, 231, 68, 0.425));
}

.playerSelectionModal .scream {
  filter: drop-shadow(0 8px 15px rgba(255, 166, 0, 0.425));
}

/* Kiválasztott játékosok */
.pos .cardSlot {
  position: absolute;
  width: 100%;
  height: 68%;
  min-height: 120px;
  aspect-ratio: 3/3.8;
  justify-self: center;
  bottom: 4.7vh;
  touch-action: none;
}

.pos .cardSlot:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pos .cardOverall {
  top: 7%;
  left: 17%;
  font-size: 110%;
}
.pos .cardPosition {
  top: 20%;
  left: 17%;
  font-size: 60%;
}
.pos .cardAltPosition {
  font-size: 40%;
}

.pos .cardName {
  font-size: 55%;
}

.pos .cardPlayerPaceNumber,
.pos .cardPlayerShootingNumber,
.pos .cardPlayerPassingNumber,
.pos .cardPlayerDribblingNumber,
.pos .cardPlayerDefendingNumber,
.pos .cardPlayerPhysicNumber {
  font-size: 60%;
}
.pos .cardPlayerPaceText,
.pos .cardPlayerShootingText,
.pos .cardPlayerPassingText,
.pos .cardPlayerDribblingText,
.pos .cardPlayerDefendingText,
.pos .cardPlayerPhysicText {
  font-size: 50%;
  top: 0;
  left: 2px;
  font-weight: normal;
}

.pos .cardPlayerDivingNumber,
.pos .cardPlayerHandlingNumber,
.pos .cardPlayerKickingNumber,
.pos .cardPlayerReflexesNumber,
.pos .cardPlayerSpeedNumber,
.pos .cardPlayerPositioningNumber {
  font-size: 60%;
}
.pos .cardPlayerDivingText,
.pos .cardPlayerHandlingText,
.pos .cardPlayerKickingText,
.pos .cardPlayerReflexesText,
.pos .cardPlayerSpeedText,
.pos .cardPlayerPositioningText {
  font-size: 50%;
  top: 0;
  left: 2px;
  font-weight: normal;
}

/* Kispad */
.subBar {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 98vw;
  max-width: 100vw;
  background: #ffffff0a;
  color: white;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 40px 10px rgba(46, 46, 46, 0.514);
  height: 50px;
  overflow: hidden;
  transition: height 0.2s ease;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.subBar.open {
  height: 230px;
}

.subBarTab {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: easportsfc;
}

.subBarContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  width: 100%;
}

.subBarContent .pos {
  position: relative;
  width: clamp(40px, 8vw, 7%);
  height: 16vh;
  min-height: 138px;
  transform: none;
  z-index: 0;
  aspect-ratio: 3/4.2;
}

.subBarContent .pos:hover {
  cursor: pointer;
}

.subresText {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 1%;
  font-family: easportsfc;
}

.subBarContent .cardSlot {
  top: 0;
  bottom: 0;
  min-width: 85px;
  width: clamp(85px, 100%, 120px);
  height: auto;
  font-size: 95%;
}

/* Rating & Chemistry Display */
.chemRatingDisplay {
  position: absolute;
  top: 10%;
  right: 1%;
  height: 20vh;
  min-height: 250px;
  width: 12vw;
  min-width: 180px;
  background-color: #ffffff0a;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0px 0px 40px 10px rgba(46, 46, 46, 0.315);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  padding: 25px;
  cursor: default;
  z-index: 0;
}

.draftSquadText {
  align-self: center;
  color: rgb(113, 255, 212);
  font-family: easportsfc;
  font-size: 120%;
  text-wrap: nowrap;
  margin: 0;
}

.ratingStars {
  font-size: 150%;
  align-self: center;
  color: rgb(255, 217, 0);
}

.ratingText,
.chemText {
  display: flex;
  justify-content: space-between;
  font-family: bristone;
  font-size: 80%;
  margin: 0;
}

.ratingNum,
.chemNum {
  color: rgb(0, 255, 179);
  font-family: monospace;
  font-weight: bold;
  font-size: 130%;
  margin: 0;
}

/* Drag */
.dragOverlay {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  left: 50px;
  top: 0;
  width: 100px;
  height: 130px;
}

.dragPreview {
  transform: scale(1.1);
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.45));
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  position: relative;
}

.dragSource {
  opacity: 0.6;
}

.dragOverlay .cardSlot {
  cursor: grab;
  user-select: none;
  position: relative;
}

.dragOverlay .cardSlot img {
  pointer-events: none;
  user-select: none;
}

/* Submit draft */
.submitDraftBtn {
  position: absolute;
  top: 45%;
  right: 1%;
  height: 5vh;
  width: 12vw;
  min-width: 180px;
  border-radius: 20px;
  box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.76);
  border: 3px rgba(0, 255, 251, 0.548) solid;
  background-color: rgb(0, 165, 121);
  color: white;
  transition: all 150ms ease-in-out;
  font-family: bristone;
  font-size: 70%;
  animation: glowPulse 1s infinite alternate;
}

.submitDraftBtn:hover {
  transform: scale(1.05);
  background-color: rgb(1, 123, 91);
  border: 1px rgb(0, 254, 156) solid;
  color: rgba(0, 255, 221, 0.856);
}

.draftSummary {
  position: absolute;
  justify-self: center;
  top: 25%;
  height: 55vh;
  min-height: fit-content;
  width: 50vw;
  min-width: fit-content;
  border-radius: 20px;
  background-color: rgba(24, 24, 24, 0.932);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.575);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.8);
  opacity: 0;
  animation: scalePopIn 0.4s ease forwards;
}

.draftSummaryOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #1111117c;
}

.draftSummaryTitle {
  height: 20%;
  display: flex;
  align-items: center;
  font-size: 160%;
  font-weight: bold;
  font-family: easportsfc;
}

.draftSummaryStats {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.vl {
  background-color: rgba(255, 255, 255, 0.288);
  height: 80%;
  width: 3px;
}

.draftNumbers {
  width: 25%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 150%;
}

.draftNumbers .ratingText,
.draftNumbers .chemText {
  font-size: 70%;
}

.draftGraphDiv {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draftGraph {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.ratingInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0f2421;
  color: rgb(31, 255, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  font-family: easportsfc;
}

/* Reward-ok */
.reward {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.144);
  padding: 30px;
  border-radius: 20px;
  width: 60%;
  height: 40%;
}

.coins {
  color: gold;
  opacity: 0;
  transform: scale(0.6) rotate(-5deg);
  animation: rewardAnim 0.8s ease forwards;
}

.coinImg {
  height: 30px;
  margin-left: 5px;
}

.pack {
  font-size: 70%;
  opacity: 0;
  transform: scale(0.6) rotate(-5deg);
  animation: rewardAnim 1s ease forwards;
}

.packImg {
  height: 80px;
}

.exitButton {
  width: 30%;
  height: 17%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.76);
  border: 3px rgba(0, 255, 251, 0.548) solid;
  background-color: rgb(0, 165, 121);
  color: white;
  transition: all 150ms ease-in-out;
  font-family: bristone;
  font-size: 60%;
  animation: glowPulse 1s infinite alternate;
}

.exitButton:hover {
  transform: scale(1.05);
  background-color: rgb(1, 123, 91);
  border: 1px rgb(0, 254, 156) solid;
  color: rgba(0, 255, 221, 0.856);
}

/*? Animációk */
@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  to {
    opacity: 1;
    backdrop-filter: blur(4px);
  }
}

@keyframes scalePopIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes glowPulse {
  from {
    box-shadow: 0 0 5px #00fff2;
  }
  to {
    box-shadow: 0 0 20px #00fff2;
  }
}

@keyframes rewardAnim {
  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

/*------------------Media queries---------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*?------------------Formáció kiválasztás stílusai-------------------*/

  /*------------------Alap elrendezés------------------*/
  #formationSelectDiv {
    width: 90vw;
  }

  /*-----------------Baloldali formázások------------------*/

  #chooseFormation {
    padding-left: 0;
  }

  .chooseFormationTitle {
    margin-left: 30px;
  }

  /* Mini pálya */
  .miniFormationLayout {
    width: 12vw;
  }

  /*----------------Jobboldali formázások-----------------*/

  #formationImage h2 {
    padding-left: 30px;
    padding-top: 20px;
  }

  /* Nagy pálya */
  .formationLayout {
    width: 50vw;
  }

  .pos {
    width: 14%;
    max-width: 90px;
  }

  .formationLayout .posText {
    width: 9%;
    max-width: 40px;
    height: 5%;
    transform: translate(-50%, -70%);
  }

  /*---------------Gombok---------------*/

  .formationSelectBtn {
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 2%;
  }

  .formationSelectBtn:hover {
    transform: scale(1.01);
  }

  /*?------------------Draft játék stílusai-------------------*/

  /*--------------------Draft layout---------------------*/
  .gameFormationLayout {
    height: 94vh;
    width: 100vw;
  }

  .gameFormationLayout .pos {
    min-width: 90px;
  }

  .posText {
    width: 5%;
    max-width: 40px;
    height: 3.5%;
    min-height: 25px;
    font-size: 60%;
  }

  /*--------------Játékos kiválasztó modal-----------------*/

  .playerSelectionModal {
    min-width: 750px;
  }

  .playerSelectionModal .cardSlot {
    width: 30%;
    max-width: 140px;
    height: auto;
    min-height: 150px;
    font-size: 70%;
    min-width: 100px;
  }

  /* Kiválasztott játékosok */

  .pos .cardSlot {
    bottom: 22%;
  }

  .pos .cardSlot:hover {
    transform: scale(1.1);
  }

  .pos .cardOverall {
    font-size: 100%;
  }
  .pos .cardPosition {
    top: 21%;
  }

  .cardAltPosition {
    font-size: 60%;
  }

  .pos .cardName {
    font-size: 53%;
  }

  .pos .cardPlayerPaceNumber,
  .pos .cardPlayerShootingNumber,
  .pos .cardPlayerPassingNumber,
  .pos .cardPlayerDribblingNumber,
  .pos .cardPlayerDefendingNumber,
  .pos .cardPlayerPhysicNumber {
    font-size: 50%;
  }
  .pos .cardPlayerPaceText,
  .pos .cardPlayerShootingText,
  .pos .cardPlayerPassingText,
  .pos .cardPlayerDribblingText,
  .pos .cardPlayerDefendingText,
  .pos .cardPlayerPhysicText {
    font-size: 45%;
  }

  .pos .cardPlayerDivingNumber,
  .pos .cardPlayerHandlingNumber,
  .pos .cardPlayerKickingNumber,
  .pos .cardPlayerReflexesNumber,
  .pos .cardPlayerSpeedNumber,
  .pos .cardPlayerPositioningNumber {
    font-size: 50%;
  }
  .pos .cardPlayerDivingText,
  .pos .cardPlayerHandlingText,
  .pos .cardPlayerKickingText,
  .pos .cardPlayerReflexesText,
  .pos .cardPlayerSpeedText,
  .pos .cardPlayerPositioningText {
    font-size: 45%;
  }

  /* Kispad */

  .subBar.open {
    height: 200px;
  }

  .subBarContent {
    height: 150px;
    flex-wrap: wrap;
    overflow: scroll;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  .subBarContent .pos {
    width: 10%;
    max-width: 80px;
    height: max-content;
  }

  /* Rating & Chemistry Display */
  .chemRatingDisplay {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 100vw;
    min-width: unset;
    height: auto;
    min-height: unset;
    padding: 4px 14px;
    border-radius: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ratingStars {
    position: relative;
    bottom: 2px;
  }

  .ratingNum,
  .chemNum {
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }

  /* Submit draft */
  .submitDraftBtn {
    top: 83%;
    right: 1%;
    height: 5vh;
    width: 12vw;
    min-width: 180px;
  }

  .draftSummary {
    top: 20%;
    height: 60vh;
    width: 70vw;
  }

  .exitButton {
    max-height: 50px;
  }
}

@media screen and (max-width: 767px) {
  /*?------------------Formáció kiválasztás stílusai-------------------*/

  /*------------------Alap elrendezés------------------*/
  #formationSelectDiv {
    width: 92vw;
  }

  /*-----------------Baloldali formázások------------------*/

  #chooseFormation {
    padding-left: 0;
  }

  .chooseFormationTitle {
    margin-left: 20px;
    font-size: 60%;
  }

  /* Mini pálya */
  .miniFormationLayout {
    display: none;
  }

  /*----------------Jobboldali formázások-----------------*/

  #formationImage h2 {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 80%;
  }

  /* Nagy pálya */
  .formationLayout {
    width: 100%;
    height: 80%;
  }

  .pos {
    width: 25%;
    max-width: 70px;
  }

  .formationLayout .posText {
    width: 12%;
    max-width: 30px;
    height: 4%;
    transform: translate(-50%, -115%);
    font-size: 45%;
  }

  /*---------------Gombok---------------*/

  .formationSelectBtn {
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  /*?------------------Draft játék stílusai-------------------*/

  /*--------------------Draft layout---------------------*/
  .gameFormationLayout {
    height: 96vh;
    width: 120vw;
  }

  .gameFormationLayout .pos {
    min-width: 80px;
  }

  .posText {
    width: 7%;
    max-width: 40px;
    height: 3.5%;
    min-height: 25px;
    font-size: 50%;
    transform: translate(-50%, -100%);
  }

  /*--------------Játékos kiválasztó modal-----------------*/

  .playerSelectionModal {
    top: 0%;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    overflow: scroll;
  }

  .playerSelectionModal .cardSlot {
    width: 30%;
    max-width: 140px;
    height: auto;
    min-height: 150px;
    font-size: 70%;
    min-width: 60px;
  }

  /* Kiválasztott játékosok */

  .pos .cardSlot {
    bottom: 30%;
    position: absolute;
    width: 85%;
    height: auto;
    min-height: 80px;
    font-size: 85%;
  }

  .pos .cardSlot:hover {
    transform: scale(1.1);
  }

  .pos .cardOverall {
    font-size: 90%;
  }
  .pos .cardPosition {
    top: 21%;
    font-size: 50%;
  }

  .cardAltPosition {
    font-size: 60%;
  }

  .pos .cardName {
    font-size: 53%;
  }

  .pos .cardPlayerPaceNumber,
  .pos .cardPlayerShootingNumber,
  .pos .cardPlayerPassingNumber,
  .pos .cardPlayerDribblingNumber,
  .pos .cardPlayerDefendingNumber,
  .pos .cardPlayerPhysicNumber {
    font-size: 50%;
  }
  .pos .cardPlayerPaceText,
  .pos .cardPlayerShootingText,
  .pos .cardPlayerPassingText,
  .pos .cardPlayerDribblingText,
  .pos .cardPlayerDefendingText,
  .pos .cardPlayerPhysicText {
    font-size: 45%;
  }

  .pos .cardPlayerDivingNumber,
  .pos .cardPlayerHandlingNumber,
  .pos .cardPlayerKickingNumber,
  .pos .cardPlayerReflexesNumber,
  .pos .cardPlayerSpeedNumber,
  .pos .cardPlayerPositioningNumber {
    font-size: 50%;
  }
  .pos .cardPlayerDivingText,
  .pos .cardPlayerHandlingText,
  .pos .cardPlayerKickingText,
  .pos .cardPlayerReflexesText,
  .pos .cardPlayerSpeedText,
  .pos .cardPlayerPositioningText {
    font-size: 45%;
  }

  /* Kispad */

  .subBar.open {
    height: 200px;
  }

  .subBarContent {
    height: 150px;
    overflow: scroll;
    flex-direction: row;
    scroll-behavior: smooth;
    gap: 40px;
  }

  .subBarContent .pos {
    width: 20%;
    max-width: 80px;
    height: max-content;
  }

  .subBarContent .cardSlot {
    position: relative;
    top: 10%;
  }

  /* Rating & Chemistry Display */
  .chemRatingDisplay {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 100vw;
    min-width: unset;
    height: auto;
    min-height: unset;
    padding: 4px 14px;
    border-radius: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  .ratingStars {
    position: relative;
    bottom: 2px;
  }

  .ratingNum,
  .chemNum {
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }

  .draftSquadText {
    align-self: auto;
    margin: 0;
    font-size: 70%;
    text-wrap: wrap;
    font-weight: bolder;
    color: rgb(20, 255, 185);
  }

  .ratingStars {
    align-self: auto;
    margin: 0;
    font-size: 110%;
  }

  .ratingText,
  .chemText {
    margin: 0;
    gap: 6px;
    white-space: nowrap;
    font-size: 60%;
  }

  /* Submit draft */
  .submitDraftBtn {
    top: 84%;
    right: 6%;
    height: 5vh;
    width: 5vw;
    min-width: 100px;
    font-size: 70%;
  }

  .draftSummary {
    top: 10%;
    height: 80vh;
    width: 98vw;
  }

  .draftSummaryStats {
    flex-direction: column;
  }

  .vl {
    display: none;
  }

  .draftNumbers {
    width: 100%;
    margin-bottom: 10%;
    padding: 40px;
    gap: 10px;
  }

  .exitButton {
    width: 90%;
    height: 30%;
    max-height: 50px;
  }

  .draftGraphDiv {
    width: 100%;
  }

  /* drag */
  .dragOverlay {
    height: 90px;
  }
}
