/* Fontok */
@font-face {
  font-family: bristone;
  src: url("../../assets/Bristone.otf");
}

@font-face {
  font-family: easportsfc;
  src: url("../../assets/EaSportsFc_FontByGibsfut-Regular.ttf");
}

/* Login formázás */
.loginContainer {
  background: rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.136);
  height: 80vh;
  width: 45vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: bristone;
  transform: scale(0.8);
  opacity: 0;
  animation: scalePopIn 0.4s ease forwards;
}

.loginTitle {
  width: 100%;
  height: 20%;
  font-size: 2.7vw;
  text-align: center;
  font-family: easportsfc;
}

.sulofutTitle {
  color: rgb(0, 165, 121);
}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 70%;
  justify-content: space-around;
}

.formLabel {
  margin-bottom: -10px;
}

.loginInput {
  height: 40px;
  border: 1px rgba(0, 165, 121, 0.616) solid;
  background-color: rgba(0, 255, 229, 0.093);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 130%;
}

.loginInput::placeholder {
  color: white;
  opacity: 50%;
  font-family: bristone;
  font-size: 80%;
}

.loginButton {
  margin-top: 20px;
  width: 40%;
  height: 45px;
  align-self: center;
  border: 3px rgba(0, 255, 251, 0.114) solid;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.173);
  border-radius: 30px;
  background-color: rgba(0, 165, 121, 0.241);
  color: white;
  transition: all 150ms ease-in-out;
}

.loginButton:hover {
  transform: scale(1.05);
  background-color: rgba(1, 123, 90, 0.6);
  border: 1px rgb(0, 254, 156) solid;
  color: rgba(0, 255, 221, 0.856);
}

.registerLinkContainer {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerLinkText {
  font-size: 80%;
}

.registerLink {
  font-size: 80%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 254, 156);
}

.registerLink::after,
.registerLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00fbff, #00ff55);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.registerLink::before {
  top: -5px;
  transform-origin: left;
}

.registerLink:hover::after,
.registerLink:hover::before {
  transform: scaleX(1);
}

.passwordError {
  color: rgb(204, 0, 0);
  font-size: 90%;
  text-align: center;
}

.successMessage {
  color: rgb(0, 168, 0);
}

.usernameError {
  color: rgb(204, 0, 0);
  font-size: 90%;
  text-align: center;
}

.shake {
  animation: horizontal-shaking 0.4s ease-in-out 2;
}

/* Animációk */
@keyframes scalePopIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/*------------------Media queries---------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* login formázás */
  .loginContainer {
    width: 60vw;
  }

  .loginTitle {
    font-size: 4vw;
  }

  .formLabel {
    margin-bottom: -10px;
  }

  .loginInput {
    font-size: 100%;
  }

  .loginInput::placeholder {
    font-size: 80%;
  }
}

@media screen and (max-width: 767px) {
  /* login formázás */
  .loginContainer {
    width: 90vw;
    height: 90vh;
  }

  .loginTitle {
    font-size: 7.5vw;
  }

  .formLabel {
    margin-bottom: -10px;
  }

  .loginInput {
    font-size: 100%;
  }

  .loginInput::placeholder {
    font-size: 80%;
  }

  .loginButton {
    min-width: 150px;
  }
}
