body {
  background-image: url("./assets/hatter.png");
  background-repeat: repeat;
  background-size: cover;
}

#rootDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#root2 {
  display: flex;
  align-items: center;
  width: 80vw;
  justify-content: center;
}

/*------------------Media queries---------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #rootDiv {
    flex-direction: column;
  }

  #root2 {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  #rootDiv {
    flex-direction: column;
  }

  #root2 {
    width: 100vw;
  }
}
