/*-------------Főoldal csempék------------------*/
#tileContainer {
  width: 60vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  background: linear-gradient(
    90deg,
    rgba(42, 59, 155, 0.288) 0%,
    rgba(87, 199, 199, 0.288) 50%,
    rgba(83, 237, 147, 0.24) 100%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#tile1 {
  background-color: rgba(0, 0, 0, 0.137);
  height: 25vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  width: 27vw;
  text-decoration: none;
  color: white;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}

#tileRow1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tile2 {
  background-color: rgba(0, 0, 0, 0.137);
  height: 25vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 17.9vw;
  text-decoration: none;
  color: white;
  transition: transform 100ms ease-in-out;
}

#tileRow2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tile0:hover,
#tile1:hover,
#tile2:hover {
  transform: scale(1.05);
  background: linear-gradient(
    90deg,
    rgba(42, 59, 155, 0.288) 0%,
    rgba(87, 199, 199, 0.288) 50%,
    rgba(40, 109, 126, 0.24) 100%
  );
}

#tileRow0 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tile0 {
  background-color: rgba(0, 0, 0, 0.137);
  height: 25vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 54.5vw;
  text-decoration: none;
  color: white;
  transition: transform 100ms ease-in-out;
}

/*-------------------Ikonok--------------------------*/
#unassignedPacksIcon {
  width: 18vw;
}

#hubLogo {
  width: 6vw;
}

#sbcLogo {
  width: 7vw;
}

#draftLogo {
  height: 8vh;
}

/*------------------Media queries---------------------*/
@media screen and (max-width: 600px) {
  #tileContainer {
    width: 98%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    row-gap: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #tile1 {
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    width: 90%;
  }

  #tileRow1 {
    row-gap: 10px;
  }

  #tile2 {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    width: 90%;
  }

  #tileRow2 {
    row-gap: 10px;
  }

  #tile0:hover,
  #tile1:hover,
  #tile2:hover {
    transform: scale(1.05);
    background: linear-gradient(
      90deg,
      rgba(42, 59, 155, 0.288) 0%,
      rgba(87, 199, 199, 0.288) 50%,
      rgba(40, 109, 126, 0.24) 100%
    );
  }

  #tile0 {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 90%;
  }
}
