/* Fontok */
@font-face {
  font-family: bristone;
  src: url("./assets/Bristone.otf");
}

/* Register formázás */
.registerContainer {
  background: linear-gradient(
    90deg,
    rgba(13, 87, 50, 0.621) 0%,
    rgba(31, 90, 105, 0.526) 50%,
    rgba(0, 81, 76, 0.475) 100%
  );
  box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.204);
  height: 80vh;
  width: 40vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: bristone;
}

.registerTitle {
  width: 100%;
  height: 20%;
  text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 70%;
  justify-content: space-around;
}

.formLabel {
  margin-bottom: -10px;
}

.registerInput {
  height: 40px;
  border: 1px rgb(0, 165, 121) solid;
  background-color: rgba(0, 255, 229, 0.215);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 130%;
}

.registerInput::placeholder {
  color: white;
  opacity: 50%;
  font-family: bristone;
  font-size: 100%;
}

.registerButton {
  margin-top: 20px;
  width: 40%;
  height: 45px;
  align-self: center;
  border: 3px rgb(0, 255, 251) solid;
  box-shadow: 10px 10px 30px 10px rgba(8, 30, 37, 0.401);
  border-radius: 30px;
  background-color: rgb(0, 165, 121);
  color: white;
  transition: all 150ms ease-in-out;
}

.registerButton:hover {
  transform: scale(1.1);
  background-color: rgb(1, 123, 91);
  border: 1px rgb(0, 254, 156) solid;
  color: rgba(255, 255, 255, 0.675);
}
