/* Kártya dizájnja */
.cardDesign {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.text-bronze {
  color: rgba(39, 29, 16, 0.87) !important;
}

.text-silver {
  color: rgba(48, 48, 48, 0.87) !important;
}

.icon {
  width: 102%;
  height: 101%;
}

.text-icon {
  color: rgba(49, 47, 25, 0.671) !important;
}

.hero {
  width: 102%;
  height: 101%;
}

.text-hero {
  color: rgba(255, 238, 238, 0.671) !important;
}

.toty {
  width: 96%;
  height: 101%;
}

.text-toty {
  color: rgb(255, 251, 210) !important;
}

.flashback {
  width: 102%;
  height: 102%;
}

.text-flashback {
  color: rgba(217, 255, 0, 0.89) !important;
}

.scream {
  width: 102%;
  height: 100%;
}

.text-scream {
  color: rgb(221, 255, 207) !important;
}

/* Kártya statok és képek */
.cardOverall {
  position: absolute;
  top: 7%;
  left: 17%;
  font-size: 150%;
  z-index: 3;
  color: rgb(58, 54, 4);
  font-weight: bold;
}
.cardPosition {
  position: absolute;
  top: 20%;
  left: 17.5%;
  font-size: 80%;
  z-index: 3;
  color: rgb(58, 54, 4);
  font-weight: bold;
  margin-top: 2%;
}
.cardAltPosition {
  position: absolute;
  top: 27%;
  left: 18.5%;
  font-size: 50%;
  z-index: 3;
  color: rgb(58, 54, 4);
  font-weight: bold;
  opacity: 90%;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 3%;
}
.cardAltPosition span + span {
  margin-top: -4px;
}
.cardImg {
  position: absolute;
  top: 4.2%;
  left: 60%;
  transform: translateX(-50%);
  width: 57%;
  z-index: 3;
}
.cardNationality {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translateX(-50%);
  width: 10%;
  z-index: 3;
}

.cardLeague {
  position: absolute;
  top: 85%;
  left: 52%;
  transform: translateX(-50%);
  width: 10%;
  z-index: 3;
}

.cardClub {
  position: absolute;
  top: 85%;
  left: 64%;
  transform: translateX(-50%);
  width: 10%;
  z-index: 3;
}

.cardName {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 75%;
  color: #272002;
  z-index: 3;
  font-weight: 700;
}
.cardPlayerPaceNumber,
.cardPlayerShootingNumber,
.cardPlayerPassingNumber,
.cardPlayerDribblingNumber,
.cardPlayerDefendingNumber,
.cardPlayerPhysicNumber {
  font-size: 80%;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #423e2b;
}
.cardPlayerPaceText,
.cardPlayerShootingText,
.cardPlayerPassingText,
.cardPlayerDribblingText,
.cardPlayerDefendingText,
.cardPlayerPhysicText {
  font-size: 70%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
  font-weight: 800;
  color: #52450c;
  width: 50%;
}
.cardPlayerPace {
  position: absolute;
  top: 59%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerShooting {
  position: absolute;
  top: 67%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerDribbling {
  position: absolute;
  top: 75%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerPassing {
  position: absolute;
  top: 59%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerDefending {
  position: absolute;
  top: 67%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerPhysic {
  position: absolute;
  top: 75%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerDivingNumber,
.cardPlayerHandlingNumber,
.cardPlayerKickingNumber,
.cardPlayerReflexesNumber,
.cardPlayerSpeedNumber,
.cardPlayerPositioningNumber {
  font-size: 80%;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #423e2b;
}
.cardPlayerDivingText,
.cardPlayerHandlingText,
.cardPlayerKickingText,
.cardPlayerReflexesText,
.cardPlayerSpeedText,
.cardPlayerPositioningText {
  font-size: 70%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1px;
  font-weight: 800;
  color: #52450c;
  width: 50%;
}
.cardPlayerDiving {
  position: absolute;
  top: 59%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerHandling {
  position: absolute;
  top: 67%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerReflexes {
  position: absolute;
  top: 75%;
  left: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerKicking {
  position: absolute;
  top: 59%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerSpeed {
  position: absolute;
  top: 67%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.cardPlayerPositioning {
  position: absolute;
  top: 75%;
  right: 18%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  width: 23%;
  justify-content: space-between;
  align-items: center;
}

.chemStars {
  height: 15%;
  width: auto;
  z-index: 2;
  position: absolute;
  left: 5%;
  bottom: 3%;
}
